* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: linear-gradient(rgb(102, 228, 201), rgba(235, 30, 253, 0.918));
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: auto;
}

h1 {
  margin-top: -25px;
  margin-bottom: -2px;
}

label {
  text-align: left;
  font-size: 140%;
}

input[type=number] {
  border-radius: 100px;
  height: 30px;
  text-align: center;
  font-size: 130%;
}

.body-font {
  font-family: cursive;
}

.slot-machine {
  background-image: linear-gradient(rgba(187, 187, 187, 0.904), rgb(92, 92, 92));
  border: 6px double slategray;
  border-radius: 200px 200px 0px 0px;
  width: 100%;
  height: 280px;
}

.view-area {
  width: 99%;
  margin: 0 auto;
}

.scene {
  perspective: 1000px;
  width: 70%;
  height: 140px;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.253);
  margin-top: 6.5%;
  position: relative;
  display: inline-block;
  border-radius: 15% 15% 15%;
  margin-left:0;
  margin-right:0;
}

.carousel-container {
  width: 650px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel {
  height: auto;
  width: 210px;
  position: absolute;
  transform-style: preserve-3d;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transform-origin: 70px 70px 0px;
}

.carousel_cell {
  position: absolute;
  width: 210px;
  height: 120px;
  margin: 0;
  top: 10px;
  border: 4px dashed;
  line-height: 118px;
  font-size: 80px;
  font-weight: bold;
  background-color: white;
  transform-style: preserve-3d;
}

.carousel-options {
  border-radius: 85%;
  background: hsla(76, 22%, 80%, 0.616);
}

.hidden {
  opacity: 0;
}

.spin-button, .reset-button {
  text-align: center;
  padding: 20px;
  line-height: 1em;
  border-radius: 100px;
  margin-top: 15px;
}

.spin-button {
  font-size: 275%;
}

.reset-button {
  margin-top: 10px;
}

.box-light-off {
  border: 15px dotted rgb(134, 134, 81);
}

.debug {
  background-color: black;
  color: yellowgreen;
}

.block {
  margin: 10px;
}

.cell-count {
  font-size: 25px;
  text-align: center;
}

#carousel_left {
  left: 0px;
}

#carousel_middle {
  left: 210px;
}

#carousel_right {
  left: 420px;
}

#message-box {
  width: 100%;
  height: 120px;
  line-height: 80px;
  transition: font-size .3s, border 1s;
  font-size: 300%;
}

#spin-container {
  margin: 0 auto;
  padding-right: 1%;
  padding-left: 1%;
  width: 160px;
  height: 120px;
}

#details-container {
  width: 500px;
  margin: 0 auto;
  height: 190px;
  padding: 30px;
  text-align: center;
}

#debug-container {
  width: 370px;
  height: 400px;
  float: right;
}

#bet-money, #game-round {
  width: 4em;
}

#debug-checkbox, #debug-checkbox-label {
  display: inline;
  font-size: 90%;
}

#bell {
  margin: 0 auto;
  border: 1px solid black;
  height: 55px;
  width: 20%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: rgba(127, 255, 212, 0.513);
}


.round-won {
  animation: 1s linear 0s bell-green;
}
.round-lost {
  animation: 1s linear 0s bell-red;
}

.flash-lights {
  animation: 1s linear 0s flash-border;
}
.dim-lights {
  animation: 1s linear 0s dim-border;
}


@keyframes bell-green {
  15% {
    background-color: rgb(175, 245, 70);
  }
  30% {
    background-color: rgba(127, 255, 212, 0.513);
  }
  45% {
    background-color: rgb(175, 245, 70);
  }
  60% {
    background-color: rgba(127, 255, 212, 0.513);
  }
  75% {
    background-color: rgb(175, 245, 70);
  }
  100% {
    background-color: rgba(127, 255, 212, 0.513);
  }
}

@keyframes bell-red {
  0% {
    background-color: rgba(127, 255, 212, 0.513);
  }
  30% {
    background-color: rgba(158, 21, 21, 0.596);
  }
  80% {
    background-color: rgba(175, 59, 59, 0.692);
  }
  100% {
    background-color: rgba(127, 255, 212, 0.513);
  }
}

@keyframes flash-border {
  15% {
    border-color:rgb(230, 230, 120);
  }
  30% {
    border-color:rgb(134, 134, 81);
  }
  45% {
    border-color:rgb(230, 230, 120);
  }
  60% {
    border-color:rgb(134, 134, 81);
  }
  75% {
    border-color:rgb(230, 230, 120);
  }
  70% {
    border-color:rgb(134, 134, 81);
  }
  85% {
    border-color:rgb(230, 230, 120);
  }
  100% {
    border-color:rgb(134, 134, 81);
  }
}

@keyFrames dim-border {
  70% {
    border-color: rgb(88, 88, 56);
  }
  100% {
    border-color: rgb(134, 134, 81);
  }
}

/* CSS Grid */
.grid-container {
  width: 10%;
  display: initial;
}

.grid-header {
  background-color: rgba(17, 149, 0, 0.801);
  grid-row: 1;
}

.grid-cells {
  font-size: 70%;
  display: grid;
  text-align: center;
  border: 2px solid rgb(1, 97, 9);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-1,
.grid-name-1 {
  grid-column: 1;
}

.grid-col-2,
.grid-value-1 {
  grid-column: 2;
}

.grid-col-3,
.grid-name-2 {
  grid-column: 3;
}

.grid-col-4,
.grid-value-2 {
  grid-column: 4;
}

.grid-name-1,
.grid-name-2,
.grid-value-1,
.grid-value-2 {
  background-color: rgba(255, 255, 255, 0.582);
}

.left-grid {
  float: left;
  margin-top: 60px;
  margin-left: 5%;
}

.right-grid {
  float: right;
  margin-top: 60px;
  margin-right: 5%;
}